@tailwind components;

@layer components {
  body {
    font-family: "Atkinson", sans-serif;
    @apply p-0 m-0;
    @apply text-left text-lg;
    @apply bg-gray-200 text-gray-800 py-9 dark:bg-gray-900;
  }
  main {
    @apply max-w-4xl m-auto;
    @apply px-16 py-6;
  }
  h1, h2, h3,
  h4, h5, h6 {
    @apply text-gray-800 dark:text-gray-300;
    @apply leading-tight mb-2 ;
  }
  h2, h3, h4,
  h5, h6 {
    @apply font-semibold mt-12;
  }
  h1 {
    @apply text-3xl md:text-5xl;
  }
  h2 {
    @apply text-2xl md:text-4xl;
  }
  h3 {
    @apply text-xl md:text-3xl;
  }
  h4 {
    @apply text-lg md:text-2xl;
  }
  h5 {
    @apply text-base md:text-xl;
  }
  strong,
  b {
    @apply font-bold;
  }
  a {
    @apply text-sky-500 hover:text-sky-600;
    @apply dark:text-fuchsia-500 dark:hover:text-fuchsia-700;
    @apply hover:underline ;
  }
  p {
    @apply mb-6 dark:text-gray-300;
  }
  p code {
    @apply dark:text-gray-800/90 font-semibold;
  }
  /* .prose p { */
  /*   margin-bottom: 2em; */
  /* } */
  textarea {
    @apply w-full text-base;
  }
  input {
    @apply text-base;
  }
  table {
    @apply w-full text-gray-800 dark:text-gray-300;
  }
  tr{
    @apply mb-2;
  }
  ul {
    @apply list-disc mb-4;
  }
  ul li {
    @apply text-gray-800 dark:text-gray-200;
    @applyt mb-3;
  }
  img {
    @apply max-w-full h-auto;
    @apply rounded-lg;
  }
  code {
    @apply py-0.5 px-2;
    @apply bg-gray-300 rounded-lg;
    /** background-color: rgb(var(--gray-light)); */
  }
  pre {
    @apply p-4 rounded-lg;
    @apply mb-6;
  }
  pre > code {
    all: unset;
  }
  blockquote {
    @apply pl-5 m-0;
    @apply border-l-sky-500 border-4;
    @apply text-lg;
  }
  hr {
    @apply border-0;
    @apply border-t-gray-800/20 dark:border-t-gray-200/10 border-t-2;
  }
  @media (max-width: 720px) {
    body {
      font-size: 18px;
    }
    main {
      padding: 1em;
    }
  }

  .sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px 1px 1px 1px);
    /* maybe deprecated but we need to support legacy browsers */
    clip: rect(1px, 1px, 1px, 1px);
    /* modern browsers, clip-path works inwards from each corner */
    clip-path: inset(50%);
    /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
    white-space: nowrap;
  }

  /** ---------------------------- */
  .hero-image {
    @apply w-full mt-6;
  }
  .hero-image img {
    @apply rounded-3xl block;
    @apply my-0 mx-auto shadow-2xl;
  }
  .prose {
    @apply mx-auto;
    @apply w-full text-gray-800;
  }
  .title {
    @apply mb-8 py-3 px-0;
    @apply text-center leading-tight;
  }
  .date {
    @apply mb-2 text-gray-800;
  }
  /* .last-updated-on { */
  /*   font-style: italic; */
  /* } */
}
