@tailwind components;

@layer components {
  pre {
    @apply p-3 mb-6;
    @apply text-xl ;
    @apply rounded-lg overflow-auto;
  }

  pre > code {
    all: unset;
  }

  code {
    @apply px-2 py-4;
  }

  p {
    @apply text-xl mb-6;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-gray-800 font-semibold mb-6;
  }

  h2 {
    @apply text-2xl md:text-4xl;
  }
  h3 {
    @apply text-xl md:text-3xl;
  }
  h4 {
    @apply text-lg md:text-xl;
  }
  h5 {
    @apply text-base md:text-lg;
  }
  h6 {
    @apply text-base md:text-base;
  }
  ul {
    @apply flex flex-wrap;
    @apply gap-2;
    @apply m-0 px-6;
  }
  ul li {
    @apply list-disc text-xl;
  } 
  /**
  ul li * {
    text-decoration: none;
    transition: 0.2s ease;
  }
  ul li:first-child {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }
  ul li:first-child img {
    width: 100%;
  }
  ul li:first-child .title {
    font-size: 2.369rem;
  }
  ul li img {
    margin-bottom: 0.5rem;
    border-radius: 12px;
  }
  ul li a {
    display: block;
  }
  ul li a:hover h4,
  ul li a:hover .date {
    color: rgb(var(--accent));
  }
  ul a:hover img {
    box-shadow: var(--box-shadow);
  }
  @media (max-width: 720px) {
    ul {
      gap: 0.5em;
    }
    ul li {
      width: 100%;
      text-align: center;
    }
    ul li:first-child {
      margin-bottom: 0;
    }
    ul li:first-child .title {
      font-size: 1.563em;
    }
  }
  */
}
