---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import GithubIcon from "../components/icons/Github.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import Title from "../components/Title.astro";
import Skills from "../components/Skills.astro";

---

<Layout title="Alexis Narvaez | Inicio.">
  <main
    class="m-auto p-2 grid gap-2 max-w-6xl overflow-hidden relative w-full sm:p-4 sm:gap-2 md:grid-cols-2 md:gap-3 md:p-6 lg:h-screen lg:grid-cols-5 lg:gap-4 lg:max-h-[800px]"
  >
    <Card
      title="Hola! Soy Alexis Narvaez."
      level="h1"
      class="p-5 col-span-2 md:col-span-3 md:row-span-2 bg-zinc-300 dark:bg-zinc-800"
    >
      <p class={`text-lg md:text-2xl text-gray-800 dark:text-gray-200`}>
        Soy <strong>Desarrollador Front-End</strong> con{" "}
        <strong>React</strong>, además de eso cuento con experiencia en
        tecnologias de <strong>Back-End</strong> como{" "}
        <strong>PHP, Java y Python.</strong>
      </p>
      <p class={`text-lg md:text-2xl text-gray-800 dark:text-gray-200`}>
        Me considero alguien centrado, constante y reflexivo en las cosas que
        hago, lo cual me ha beneficiado para llegar al final de mis objetivos,
        esto me ha permitido desarrollar la capacidad de pensar en mejores
        soluciones.
      </p>
    </Card>
    <Card
      href="https://github.com/AlexNarvaez00"
      level="h1"
      class="col-span-1 bg-white shadow-lg flex items-center py-10 md:p-0"
    >
      <div class="w-full h-full m-auto flex justify-center items-center">
        <GithubIcon class="size-12" />
      </div>
    </Card>
    <Card
      href="https://www.linkedin.com/in/alexis-narvaez-ruiz"
      level="h1"
      class="col-span-1 bg-indigo-300 dark:bg-indigo-500 dark:shadow-lg dark:shadow-indigo-600/60 flex text-white"
    >
      <div class="w-full h-full m-auto flex justify-center items-center">
        <LinkedInIcon class="size-14" />
      </div>
    </Card>
    <Card
      level="h1"
      class="col-span-1 md:col-span-2 bg-violet-300 flex dark:bg-violet-500 dark:shadow-lg dark:shadow-violet-600/60"
    >
      Boton de modo oscuro xd
    </Card>
    <Card
      title="Edad"
      body="Años"
      level="h4"
      class="col-span-1 bg-amber-300 text-center flex flex-col justify-between p-5 dark:bg-amber-500 dark:shadow-lg dark:shadow-amber-600/60"
    >
      <Title class="font-extrabold" level="h1">24</Title>
    </Card>
    <Card
      title="Nivel de Ingles"
      body="2019-2021"
      level="h4"
      class="col-span-1 text-center flex flex-col justify-between bg-purple-300 p-2 md:p-5 dark:bg-purple-500 dark:shadow-lg dark:shadow-purple-600/60"
    >
      <Title class="font-extrabold" level="h1">B1</Title>
    </Card>
    <Card
      level="h3"
      href="/protfolio"
      class="col-span-2 md:col-span-3 bg-[url('/code.jpg')] text-white dark:text-gray-200 dark:shadow-lg dark:shadow-black/60"
    >
      <div class="p-5 bg-white/20 w-full h-full dark:bg-black/20">
        <Title level="h3">Proyectos y experiencias</Title>
        <p class="text-lg md:text-2xl">
          Aquí puedes ver mis proyectos, experiencias, prácticas y más.
        </p>
      </div>
    </Card>
    <Card
      level="h1"
      class="col-span-2 bg-fuchsia-300 p-5 dark:bg-fuchsia-500 dark:shadow-lg dark:shadow-fuchsia-600/60"
    >
      <Skills />
    </Card>
  </main>
</Layout>
