---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import Home from "../components/Home.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Alexis Narvaez | Inicio.">
  <main class="m-auto w-full h-auto flex flex-col">
    <Title level="h1" class="text-center dark:text-gray-300 mb-5">Inicio</Title>
    <Home />
    <Title level="h1" class="text-center dark:text-gray-300 my-5" id="projects">
      Proyectos
    </Title>
    <Projects />
  </main>
</Layout>
