---
import "./DarkButton.css";

interface Props {
  class?: string;
}
---

<div
  class={`base-layer-button bg-violet-600 ${Astro.props.class}`}
  id="dark-button"
>
  <span class="thumb flex justify-center items-center" id="thumb"> </span>
</div>

<script>
  const thumb = document.getElementById("thumb");

  const isActiveDarkMode = () => {
    return "theme" in localStorage && localStorage.theme == "dark";
  };

  const toggleMode = (active, callback) => {
    if (active) {
      localStorage.theme = "light";
      thumb.innerHTML = "🌞";
      thumb.classList.remove("left-1/2");
    } else {
      localStorage.theme = "dark";
      thumb.innerHTML = "🌑";
      thumb.classList.add("left-1/2");
    }
    if (callback) callback();
  };

  toggleMode(isActiveDarkMode(), null);

  const buttonDark = document.getElementById("dark-button");
  buttonDark.addEventListener("click", (event) => {
    if (isActiveDarkMode()) {
      toggleMode(true, () => document.documentElement.classList.remove("dark"));
      buttonDark.classList.add("bg-violet-600");
      buttonDark.classList.remove("bg-violet-400");
    } else {
      toggleMode(false, () => document.documentElement.classList.add("dark"));
      buttonDark.classList.remove("bg-violet-600");
      buttonDark.classList.add("bg-violet-400");
    }
  });
</script>
