@tailwind components;

@layer components {
  
  .base-layer-button{
    @apply w-[80px] h-[40px]; 
    @apply transition-all cursor-pointer;
    @apply rounded-3xl relative;
  }
  .thumb{
    @apply flex w-[40px];
    @apply h-full transition-all duration-100;
    @apply bg-white rounded-full ;
    @apply text-gray-400 flex;
    @apply absolute;
  }

}
