---
import "./DarkButton.css";

interface Props {
  class?: string;
}
---

<div
  class={`base-layer-button bg-violet-600 ${Astro.props.class}`}
  id="dark-button"
>
  <span class="thumb flex justify-center items-center [img>]:w-full" id="thumb"> </span>
</div>

<script>
  //Buttons elements
  const thumb = document.getElementById("thumb");
  const buttonDark = document.getElementById("dark-button");

  const sunIcon = document.createElement("img");
  sunIcon.src = "/Sun.svg";
  const moonIcon = document.createElement("img");
  moonIcon.src = "/Moon.svg";

  /**
   * @param {boolean} active Dark mode active
   * @param {Function} callback
   */
  const toggleMode = (active, callback) => {
    if (active) {
      localStorage.theme = "light";
      thumb.replaceChildren(sunIcon);
      thumb.classList.remove("left-1/2");
    } else {
      localStorage.theme = "dark";
      thumb.replaceChildren(moonIcon);
      thumb.classList.add("left-1/2");
    }
    if (callback) callback();
  };

  if (isActiveDarkMode()) {
    toggleMode(!isActiveDarkMode(),null);
  }

  buttonDark.addEventListener("click", (event) => {
    if (isActiveDarkMode()) {
      toggleMode(true, () => document.documentElement.classList.remove("dark"));
      buttonDark.classList.add("bg-violet-600");
      buttonDark.classList.remove("bg-violet-400");
    } else {
      toggleMode(false, () => document.documentElement.classList.add("dark"));
      buttonDark.classList.remove("bg-violet-600");
      buttonDark.classList.add("bg-violet-400");
    }
  });
</script>
