---
import "./Skills.css";
import Html from "./icons/Html.astro";
import Css from "./icons/Css.astro";
import Js from "./icons/Js.astro";
import Ts from "./icons/Ts.astro";
import Php from "./icons/Php.astro";
import Java from "./icons/Java.astro";
import Python from "./icons/Python.astro";
import Bootstrap from "./icons/Bootstrap.astro";
import Tailwind from "./icons/Tailwind.astro";
import React from "./icons/React.astro";
import Laravel from "./icons/Laravel.astro";
import Codeigniter from "./icons/Codeigniter.astro";
import AstroIcon from "./icons/Astro.astro";
import Django from "./icons/Django.astro";
---

<ul class="w-full grid grid-cols-6 md:grid-cols-7 gap-3 md:gap-5 text-gray-800">
  <li class="">
    <Html class="icon-skills" />
  </li>
  <li class="">
    <Css class="icon-skills" />
  </li>
  <li class="">
    <Js class="icon-skills" />
  </li>
  <li class="">
    <Ts class="icon-skills" />
  </li>
  <li class="">
    <Php class="icon-skills" />
  </li>
  <li class="">
    <Java class="icon-skills" />
  </li>
  <li class="">
    <Python class="icon-skills" />
  </li>
  <li class="">
    <Bootstrap class="icon-skills" />
  </li>
  <li class="">
    <Tailwind class="icon-skills" />
  </li>
  <li class="">
    <React class="icon-skills" />
  </li>
  <li class="">
    <Laravel class="icon-skills" />
  </li>
  <li class="">
    <Codeigniter class="icon-skills" />
  </li>
  <li class="">
    <AstroIcon class="icon-skills" />
  </li>
  <li class="">
    <Django class="icon-skills" />
  </li>
</ul>
